$rosa-claro:rgba(241, 194, 212, 0.49)
$rosa-destaque: #d080b0
$laranja-destaque: #d36c1f
/* Estilos específicos para a página Home */


.home-container
  display: flex
  justify-content: center
  align-items: center
  height: 100vh

/* Cards */
.cards-container
  display: flex
  justify-content: space-around
  flex-wrap: wrap
  padding: 20px

.card
  width: 200px
  padding: 10px
  text-align: center
  background-color: #f9f9f9
  border: 1px solid #ddd
  margin: 10px

.card img
  width: 100%
  height: 150px
  object-fit: cover


.content h2
  text-decoration: none;
  background-color: $rosa-claro
  color: $laranja-destaque
  font-family: Times New Roman
  padding: 5px 
  font-size: 20px





  
  

  